#calc {
  width: 30rem;
  border: solid black 1px;
  border-radius: 2%;
}

#display {
  background-color: cornflowerblue;
  height: 4rem;
  text-align: right;
  font-size: 3rem;
  border-radius: 2%;
  margin: 1rem;
  padding: 0.5rem;
}
button {
  width: 21%;
  max-width: 9rem;
  max-height: 9rem;
  font-size: 3rem;
}
